HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=book-shop
MINIO_ENDPOINT=localhost:9000
MINIO_USE_SSL=
MINIO_PUBLIC_BASE_URL=http://localhost:9000/book-shop
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRY=20m
JWT_ISSUER=

LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC